body { margin: 0; }

h1 {
	font-family: "Bungee Shade", sans-serif;
}

#navbar {
	top: 0;
	position: fixed;
	width: 100%;
	background: #1caed9;
	opacity: 0.9;
}


#navbar ul {
	float: right;
	list-style: none;
}

#navbar ul li {
	float: left;
	font-family: Sniglet, sans-serif;
}

#navbar ul li a {
	text-decoration: none;
	padding: 3px 10px 3px 3px;
	color: black;
}

#navbar h2 {
	font-family: Sniglet, sans-serif;
	float: left;
	padding-left: 10px;
	margin: 10px;
}

#navbar select {
	display: none;
}

#welcome {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* background gradient courtesy of Ighosh @ uiGradients.com Gradient name: Cocoaa Ice*/
	background: #ffffff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 50vh;
	width: 100%;
}

.title {
	font-size: 4em;
}

#welcome p {
	font-family: Sniglet, sans-serif;;
}

#grid {
	display: grid;
	justify-items: center;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	grid-template-areas: "projects blogs"
						"follow resources";


}

@media (max-width: 476px) {
	#grid {
		grid-template-columns: 100%;
		grid-template-areas: "projects"
							"blogs"
							"follow"
							"resources";
	}

}

@media (max-width: 400px) {
	.title {
		font-size: 2em;
	}
}

#projects {
	grid-area: projects;
}

#blogs {
	grid-area: blogs;
}

#blogs img {
	width: 250px;
	padding: 20px;
}

#follow {
	grid-area: follow;
}

#follow ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	align-items: left;
}

.f-images {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	text-decoration: none;
	font-family: Sniglet, sans-serif;
	color: black;
}

.f-images img {
	height: 50px;
	padding-right: 30px;
}

#resources {
	grid-area: resources;
}

.copytext {
	font-size: 10pt;
	font-family: Sniglet, sans-serif;
}
