h1 {
	font-family: "bungee", sans-serif;
	color: rgba(22, 22, 22, 0.7);
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
	0px 8px 13px rgba(0, 0, 0, 0.1),
	0px 18px 23px rgba(0, 0, 0, 0.1);
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
	font-family: comfortaa, sans-serif;
}

.navbar {
    background-color: transparent !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar.solid {
    background-color: rgb(41,128,185) !important;
}

.navbar:hover {
	background-color: rgb(41,128,185) !important;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.welcome-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

.jumbotron {
	text-align: center;
	background: #ffffff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 50vh;
}

.jumbotron h1 {
	font-size: 4em;
	font-weight: bold;
}

.navbar-brand {
	font-family: Bungee, sans-serif;
}

.nav-link {
	font-size: 0.9em;
}

.welcome {
	margin-top: 15vh;
	color: white;
}

.title {
	color: white;
	text-shadow: 0px 4px 3px rgba(255, 255, 255, 0.4),
	0px 8px 13px rgba(255, 255, 255, 0.1),
	0px 18px 23px rgba(255, 255, 255, 0.1);
	font-family: bungee, sans-serif;
}

@media (max-height: 800px) {
	.jumbotron {
		height: 400px;
	}
}

#projects a img:hover + button{
 	background-color: #cff0fc;
}

#blogs {
	background: #e1e1ea;
	background: -moz-linear-gradient(270deg, #FFFFFF 0%, #efeff7 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #e1e1ea)); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, #FFFFFF 0%, #efeff7 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, #FFFFFF 0%, #efeff7 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, #FFFFFF 0%, #efeff7 100%); /* ie10+ */
	background: linear-gradient(180deg, #FFFFFF 0%, #efeff7 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#efeff7',GradientType=0 ); /* ie6-9 */
}

.blog-links img {
	max-width: 250px;
	padding: 0px;
}

#blogs a img:hover {
	border-radius: 4px;
    box-shadow: 0 0 20px #2980b9;
}

#blogs a img {
	transition: box-shadow 0.5s;
}

.blog-links {
	text-align: center;
}

.blog-links a img {
	margin: 10px;
}

#follow {
	background: #efeff7; /* Old browsers */
	background: -moz-linear-gradient(top, #efeff7 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #efeff7 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #efeff7 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efeff7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#blogs h1, #follow h1, #resources h1, #projects h1
{
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.follow-links {
	list-style: none;
}

.follow-links li a {
	text-decoration: none;
	transition: color 0.5s;
	color: black;
	font-size: 1em;
}

.follow-links li a:hover {
	color: #6dd5fa;
}

.follow-links i {
	font-size: 3em;
	padding: 5px;
}

.follow-links span {
	float: right;
	margin-right: 50px;
	margin-top: 15px;
}

.navbar-nav i {
	padding: 5px;
}

.navbar-nav .fa-home {
	padding-right: 4px;
}

.navbar-nav .fa-user-plus {
	padding-right: 3px;
}

.navbar-nav .fa-project-diagram {
	padding-right: 2px;
}

#resources {
	background: #efeff7;
}

#resources li {
	list-style-type: none;
}

.copytext {
	font-size: 0.8em;
	text-align: center;
	padding: 20px 0;
	width: 100vw;
}

.copytext p {
	margin: 0;
}

#resources .btn {
	border: 1px solid #6dd5fa;
	background-color: #bcedff;
}

.card .btn, .rbutton {
	border: 1px solid #6dd5fa;
	color: #6dd5fa;
}

.btn:hover {
	background-color: #cff0fc;
	color: white;
}

.rbutton {
	color: #2bc7ff;
	text-align: center;
	font-size: 0.9em;
}

.rbutton:hover {
	background-color: #6dd5fa;
	color: white;
}

.desc {
	font-size: 0.8em;
}

ul {
	margin-bottom: 0;
}

.card img {
	height: 250px;
	object-fit: cover;
	object-position: 50% 0;
} 

.card a {
	width: 100%;
}

.cert-text {
	text-align: justify;
	line-height: 2em;
}

.cert img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.my-btn {
	width: 200px;
	/* color: white; */
}

.about {
	text-align: justify;
	line-height: 2em;
}

.card-title {
	font-family: Bungee, sans-serif;
}
.card-text {
	font-size: 0.9em;
}

.card-body a {
	font-size: 0.9em;
}

.l-resume {
	list-style: none;
	line-height: 2em;
	text-align: justify;
}